* {
  margin: 0;
  padding: 0;
  --primary: #212124;
  --secondary: #2A2A2E;
  --active: #FAC921;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Tw Cen MT', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

